<div class="modal-comment">

  <div class="comment-content">
    <div class="comment-section-header">
      <div class="post-like-count">
        <ion-icon name="heart"></ion-icon> <span>2</span>
      </div>
      <ion-button fill="clear" size="small" color="medium" (click)="dismiss()">Close</ion-button>
    </div>
    
    <div class="comment-section">
      <div class="feed-unit">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">John Doe <span class="time">2h</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium cumque et itaque totam tempora quo, temporibus, mollitia odio magnam minus dolore eos similique, reprehenderit vitae sapiente sint. Suscipit, rem dolor?
        </div>
      </div>
      <div class="feed-unit">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">John Doe <span class="time">2h</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          Lorem ipsum dolor sit, amet nam minus dolore eos similique, reprehenderit vitae sapiente sint. Suscipit, rem
          dolor?
        </div>
      </div>
      <div class="feed-unit">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">John Doe <span class="time">2h</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium cumque et itaque totam tempora quo,
          temporibus, mollitia odio magnam minus dolore eos similique, reprehenderit vitae sapiente sint. Suscipit, rem
          dolor?
        </div>
      </div>
      <div class="feed-unit">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">John Doe <span class="time">2h</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          Lorem ipsum dolor sit, amet nam minus dolore eos similique, reprehenderit vitae sapiente sint. Suscipit, rem
          dolor?
        </div>
      </div>
      <div class="feed-unit">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">John Doe <span class="time">2h</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium cumque et itaque totam tempora quo,
          temporibus, mollitia odio magnam minus dolore eos similique, reprehenderit vitae sapiente sint. Suscipit, rem
          dolor?
        </div>
      </div>
      <div class="feed-unit">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">John Doe <span class="time">2h</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          Lorem ipsum dolor sit, amet nam minus dolore eos similique, reprehenderit vitae sapiente sint. Suscipit, rem
          dolor?
        </div>
      </div>
      <div class="feed-unit">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">John Doe <span class="time">2h</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium cumque et itaque totam tempora quo,
          temporibus, mollitia odio magnam minus dolore eos similique, reprehenderit vitae sapiente sint. Suscipit, rem
          dolor?
        </div>
      </div>
      <div class="feed-unit">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">John Doe <span class="time">2h</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          Lorem ipsum dolor sit, amet nam minus dolore eos similique, reprehenderit vitae sapiente sint. Suscipit, rem
          dolor?
        </div>
      </div>
    </div>
  </div>
  <div class="comment-input">
    <ion-textarea placeholder="Write a comment"></ion-textarea>
    <ion-button fill="clear" color="tertiary">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
</div>
