<div class="modal-comment">
  <div class="comment-content">
    <div class="comment-section-header">
      <div class="post-like-count">
        <ion-icon name="heart"></ion-icon> <span>{{ post.likes.length }}</span>
      </div>
      <ion-button fill="clear" size="small" color="medium" (click)="dismiss()">Close</ion-button>
    </div>
    <div class="comment-section">
      <div class="feed-unit" *ngFor="let comment of post.comments">
        <div class="feed-unit-header">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <div class="name">{{ post.author.full_name }} <span class="time">{{ post.relative_time }}</span></div>
          </div>
        </div>
        <div class="feed-unit-content">
          {{ comment.content }}
        </div>
      </div>
    </div>
  </div>
  <div class="comment-input">
    <ion-textarea placeholder="Write a comment"></ion-textarea>
    <ion-button fill="clear" color="tertiary">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
</div>