<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="./assets/images/site-logo.png" alt="" class="logo">
  </div>
  <form action="">
    <ion-item class="form-group">
      <ion-label position="stacked">Alumni ID Number *</ion-label>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    <ion-button expand="block" color="dark" fill="clear" class="mt-4">Continue without I.D</ion-button>
    <ion-button expand="block" class="mb-4 mt-2">Verify</ion-button>
  </form>
</ion-content>