<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="./assets/images/site-logo.png" alt="" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form action="">
    <ion-item class="form-group">
      <ion-label position="stacked">Alumni ID Number *</ion-label>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    <ion-button expand="block" color="dark" fill="clear" class="mt-4" href="/personal-information">Continue without I.D
    </ion-button>
  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" href="/personal-information">Verify</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>