<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="./assets/images/site-logo.png" alt="" class="logo">
  </div>
  <form action="">
    <div class="form-title">Personal Information</div>

    <div class="section-title">Basic Information</div>
    <ion-item class="form-group">
      <ion-label position="stacked">First Name</ion-label>
      <ion-input placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Middle Name</ion-label>
      <ion-input placeholder="Middle Name"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Date of Birth</ion-label>
      <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Gender</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <div class="section-title">Contact Information</div>
    <ion-item class="form-group">
      <ion-label position="stacked">Address</ion-label>
      <ion-input placeholder="Address"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Contact Number</ion-label>
      <ion-input placeholder="Contact Number"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Email Address</ion-label>
      <ion-input placeholder="Email Address"></ion-input>
    </ion-item>
    <br><br>
    <div class="section-title">Degree Earned</div>
    <ion-item class="form-group">
      <ion-label position="stacked">Name of degree</ion-label>
      <ion-select placeholder="Select">
        <ion-select-option value="bachelors">Bachelor's</ion-select-option>
        <ion-select-option value="masters">Master's</ion-select-option>
        <ion-select-option value="doctoral">Doctoral</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Course</ion-label>
      <ion-select placeholder="Select Course">
        <ion-select-option value="bachelors">Bachelor's</ion-select-option>
        <ion-select-option value="masters">Master's</ion-select-option>
        <ion-select-option value="doctoral">Doctoral</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Year Graduated</ion-label>
      <ion-select placeholder="Year Graduated">
        <ion-select-option value="bachelors">Bachelor's</ion-select-option>
        <ion-select-option value="masters">Master's</ion-select-option>
        <ion-select-option value="doctoral">Doctoral</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="5">
      <ion-button expand="block" color="dark" fill="clear">Back</ion-button>
    </ion-col>
    <ion-col size="7">
      <ion-button expand="block">Next</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>