
.checkbox-container {
  
  ion-checkbox {
    width: 20px;
    height: 20px;
  }

  ion-label {
    width: calc(100% - 30px);
  }
}

.terms-box {
  font-size: .8rem;

  p {
    line-height: 1.5;
  }

  h1 {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 1.25rem;
  }
}