<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="./assets/images/site-logo.png" alt="" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form action="">
    <div class="form-title">Terms and Condition</div>
    <div class="terms-box">
      <h1>Heading</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, deserunt ad minus et illum saepe at cum aliquid
        suscipit, corporis numquam accusamus voluptates, magnam totam similique? Dolorum eum quam numquam.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, deserunt ad minus et illum saepe at cum aliquid
        suscipit, corporis numquam accusamus voluptates, magnam totam similique? Dolorum eum quam numquam.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, deserunt ad minus et illum saepe at cum aliquid
        suscipit, corporis numquam accusamus voluptates, magnam totam similique? Dolorum eum quam numquam.</p>
      <h1>Heading</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, deserunt ad minus et illum saepe at cum aliquid
        suscipit, corporis numquam accusamus voluptates, magnam totam similique? Dolorum eum quam numquam.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, deserunt ad minus et illum saepe at cum aliquid
        suscipit, corporis numquam accusamus voluptates, magnam totam similique? Dolorum eum quam numquam.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, deserunt ad minus et illum saepe at cum aliquid
        suscipit, corporis numquam accusamus voluptates, magnam totam similique? Dolorum eum quam numquam.</p>
    </div>
  </form>
</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <div class="form-group checkbox-container">
    <ion-checkbox mode="md"></ion-checkbox>
    <ion-label>I have read and understand the terms and agreement.</ion-label>
  </div>
</ion-footer>