<ion-content>
  <div class="page-title ion-padding my-2">Announcements</div>
  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <!-- <div class="card-content-header">
          <div class="title-section">
            <div class="name">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, impedit.</div>
            <div class="time">2h</div>
          </div>
          <ion-button color="dark" fill="clear" class="btn-more">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </div> -->
        <div class="post">
          <img src="./assets/images/megaphone-with-important-announcement-flat_149152-517.jpg" class="featured-image">
          <h1 class="title">Lorem, ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi laudantium nostrum laboriosam sapiente possimus modi temporibus sint id quibusdam repellendus.</h1>
          <div class="time">2h</div>
          <p>Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Dolor, neque!</p><a>view more</a>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
