<app-header class="no-border"></app-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="announcement">
        <ion-icon name="megaphone-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="poll">
        <ion-icon name="podium-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="event">
        <ion-icon name="calendar-clear-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="job">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="messages">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>