<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <div class="avatar">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="name">John Doe</div>
        </div>
        <p>Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>
      </div>
      <div class="card-action">
        <ion-button>
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
