.avatar {
  display: flex;
  align-items: center;

  ion-avatar {
    width: 30px;
    height: 30px;
    margin-right: .65rem;
  }

  .name {
    font-weight: 600;
    font-size: .8rem;
  }

  .time {
    font-size: .65rem;
    opacity: .6;
  }
}

ion-fab {
  &.btn-addpost {
    bottom: 1.5rem;
    right: 1.5rem;
  }

  ion-fab-button {
    width: 45px;
    height: 45px;
  }
}
