<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="card-content">
        <div class="card-content-header">
           <div class="avatar">
             <ion-avatar>
               <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
             </ion-avatar>
             <div>
               <div class="name">John Doe</div>
               <div class="time">2h</div>
             </div>
           </div>
           <ion-button color="dark" fill="clear" class="btn-more">
             <ion-icon name="ellipsis-horizontal"></ion-icon>
           </ion-button>
        </div>
       
        <div class="post">
          <p>Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, neque!</p><a>view more</a>
        </div>
      </div>
      <div class="post-action">
        <ion-button fill="clear" class="liked">
          <ion-icon name="heart"></ion-icon> <span>2</span>
        </ion-button>
        <ion-button fill="clear" (click)="presentComent()">
          <ion-icon name="chatbubbles-outline"></ion-icon> <span>2</span>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-addpost">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
